.container {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
}

.comments-section {
  margin-top: 2rem;
}

h3 {
  margin-bottom: 0;
}

img {
  width: 64px !important;
  height: 64px !important;
}

.content {
  padding-left: 22px;
}

.star-color {
  color: #ffa400;
}

.title-section {
  display: flex;
  width: 100%;
  min-height: 120px;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-radius: 5px;
}
